thesis-blx.bib
thesis.aux
thesis.aux.bak
thesis.bbl
thesis.blg
thesis.lof
thesis.log
thesis.lot
thesis.out
thesis.pdf
thesis.toc
thesis.idx
thesis.idx.bak
thesis.ilg
thesis.ind
thesis.fdb_latexmk
thesis.run.xml
thesis-nup.pdf
thesis.auxlock
thesis.fls
cover.pdf
cover.aux
cover.log
cover.fdb_latexmk
cover.fls
cover.out
cover.pgf-plot.gnuplot
cover.pgf-plot.table
